.hero-title, .hero-lead {
  color: white;
}

.hero-lead a {
  color: white;
}

.hero-lead a:hover {
  color: white;
}

// footer
footer {
  background-color: #039efd;
  color: #FFF;
  margin: 0;
  padding: 2rem 0 1rem 0;
}

footer a {
  color: #FFF !important;
}

footer a:hover {
  color: #FFF;
}

footer ul {
  padding-left: 0;
}

footer li {
  line-height: 1.42857143;
  position: relative;
  display: block;
  color: #FFF;
}

.home-section {
  padding: 20px 0;
}

.project-tab {
}

.project-tab #tabs {
  background: #007b5e;
  color: #eee;
}

.project-tab #tabs h6.section-title {
  color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 1em;
  font-weight: bold;
}

.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #0062cc;
  font-size: 1em;
  font-weight: 600;
}

.project-tab .nav-link:hover {
  border: none;
}

.project-tab thead {
  background: #f3f3f3;
  color: #333;
}

.project-tab a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

#parser-commands {
  background-color: white;
}

.parser-po-row {
  background-color: lavender !important;
}

a, h3.article-title a:hover {
  transition-property: none !important;
}

// Increase wrapper max width for standard pages
.universal-wrapper {
  width: 1200px;
}

// Increase article container width (all not book pages)
.article-container {
  max-width: 1200px;
}

// Increase docs article max width
.docs-article-container {
  max-width: 100%;
}

// increase left padding for left side menu
// decrease font size
.docs-sidebar .nav > li > a {
  padding: .2rem 1rem .2rem 1.8rem;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

// color of left and right TOCs links
.docs-sidebar .nav > li > a:hover, a.docs-toc-link:hover {
  color:#039efd;
}

// all links
a:hover {
  text-decoration: none;
  font-weight: bold;
}

// decrease font size for left side menu titles
.docs-toc-link {
  font-size: 0.8rem;
  padding: 0 1rem;
}

// color of right TOC, padding and margin
#TableOfContents li a, .toc-top li a {
  color: rgba(0,0,0,.65);
  padding: 0.2rem 1rem;
  font-size: .7rem;
  line-height: .9rem;
}
#TableOfContents li {
  margin-bottom: 0;
}

// increase left side menu max width
.docs-sidebar {
  flex: 0 1 400px;
}

// improve code boxing
code {
  font-size: 1rem !important;
  font-family: monospace;
  border-radius: 3px;
  padding: .2em .4em;
  background-color: #f8f8f8;
}

// Increase code font size and style
pre code {
  font-size: .8rem !important;
  font-family: monospace;
  white-space: pre-wrap !important;
  background-color: inherit;
}

table code {
  font-size: .8rem !important;
}

// Color of tabpane headers
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: inherit;
}

// Component Metadata positioning
.component-metadata {
  padding-left: 2rem;
}

// Hide the next/previous links on articles
.article-widget {
  display: none;
}

// Container of button "Copy to clipboard"
.bd-clipboard {
  display: block;
  position: relative;
  float: right;
}
.btn-clipboard {
  position: absolute;
  top: .25rem;
  right: .25rem;
  width: 4rem;
}

// Powered by on footer section
.copyright-license-text {
  font-weight: bold;
}
.site-footer {
  color: #FFF;
}
.site-footer #template-info {
  font-size: 0.5rem;
}
.site-footer #template-info a {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}
.site-footer #template-info a:hover {
  color: #FFF;
}

// Project dashboard
#project-dashboard-table {
  white-space: nowrap;
}

// Center figures
.margin-auto, figure img {
  margin-left: auto;
  margin-right: auto;
}

// Fix horizontal scroll on tables when useless
table {
  display: table;
  overflow-x: auto;
}

// Button alignment on navbar
.navbar-light {
  line-height: 2;
}

// Fix color for odd table rows
table>tbody>tr:nth-child(odd)>td, table>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}

// Fix copy button visibility and size
.btn-copy-code {
  display: block;
  line-height: .5;
}

// Remove search form from left menu for narrow screen
@media (min-width: 768px) {
  .docs-search {
    display: none !important;
  }
  .docs-links {
    //max-height: calc(100vh - 5rem - 70px);
    max-height: calc(100vh - 4rem);
  }
}

// Table header
thead {
  background-color: #DDD;
}

// Calypsonet menu style
@media (min-width: 1024px) {
  // Main menu
  .navbar-collapse ul.navbar-nav li:first-child {
    border: none;
  }
  .navbar-collapse ul.navbar-nav li {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    border-left: 2px solid #039efd;
  }
  .navbar-collapse ul.navbar-nav li a {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    padding: 0px 5px;
    font-size: .9rem;
  }
  .navbar-collapse ul.navbar-nav li:hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #039efd;
  }
  .navbar-collapse ul.navbar-nav li:hover>a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff !important;
  }
  // Dropdown menu
  .navbar-collapse ul.navbar-nav div.dropdown-menu {
    position: absolute;
    left: 0;
    top: 50px;
    height: auto;
    border-top: 8px solid #3b3b3a;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    text-align: left;
    padding: 15px;
    background: rgba(255, 255, 255, .92);
    border-radius: 0 0 10px 10px;
    min-width: 300px;
    -webkit-box-shadow: 0 19px 30px -15px rgba(0,0,0,.5);
    box-shadow: 0 19px 30px -15px rgba(0,0,0,.5);
  }
  .navbar-collapse ul.navbar-nav div.dropdown-menu a {
    padding: 5px;
    -webkit-transform: none;
    transform: none;
  }
  .navbar-collapse ul.navbar-nav div.dropdown-menu a:hover {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background: #039efd !important;
    color: #fff !important;
  }
}